<div class="col-lg-2 col-md-2 bg-lan lead" id="sidebar">
    <ul class="nav nav-list">
        <li>
            <a href="#">
                <span class="glyphicon glyphicon-home text-sidebar">首页</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="glyphicon glyphicon-globe text-sidebar">产品</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="glyphicon glyphicon-paperclip text-sidebar">订单</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="glyphicon glyphicon-envelope text-sidebar">短信</span>
            </a>
        </li>
    </ul>
</div>