{% extends "login/base.html" %}
{% block addHeader %}
    <style>
    #download_form textarea{
        height: 40px;
    }
    </style>
{% endblock %}
{% block center %}
    <div class="col-lg-12 col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4>表单样式填充</h4>
            </div>
            <form role="form" class="panel-body panel-form" id="download_form" method="post" action="">
                {% csrf_token %}
                <div class="form-inline form-group-sm">
                    {% for field in form %}
                    <div class="form-group">
{#                        label和input #}
                        {{ field.label_tag }}{{ field }}
{#                        默认情况下不会输出，只有当验证表单正确性时才会输出内容 #}
                        {{ field.errors }}

                        {% comment %}
                        {{ form.as_table }}         以表格的形式将它们渲染在<tr> 标签中
                        {{ form.as_p }}             渲染在<p> 标签中
                        {{ form.as_ul }}            渲染在<li> 标签中

                        <label for="{{ form.field1.id_for_label }}">Email subject:</label>
                        {{ field.is_hidden }}       是否隐藏字段————True/False
                        {{ field.help_text }}       与该字段关联的帮助文档
                        {{ field.value }}           字段的值
                        {{ field.html_name }}       输入元素的name 属性中将使用的名称。它将考虑到表单的前缀

                        可以把表单循环封装进一个html里，在其它需要使用的地方引入，实现重用
                        {% include "form_snippet.html" with form=comment_form %}
                        with 参数————对它起个别名，对应传递到模板上下文中的表单对象
                        {% endcomment %}
                    </div>
                    {% endfor %}
                </div>
                <div class="form-group form-inline text-center">
                    <button type="submit" class="btn btn-info">
                        提交
                    </button>
                </div>
            </form>
        </div>
    </div>
<script type="application/javascript">
$(function() {
    $("#download_form").find("input").each(
        function() {
            $(this).addClass("form-control");
        }
)
});
</script>
{% endblock %}