<div class="panel panel-success col-md-4 col-sm-6 col-xs-12 col-md-offset-1 bg-grey" id="login">
    <form role="form" class="panel-body form-horizontal text-center" id="login_form" method="get">
        {% csrf_token %}
        <input type="hidden" name="form_name" value="login"/>
        <div class="input-group">
            <label class="input-group-addon">
                <span class="glyphicon glyphicon-user text-primary"></span>
            </label>
            <input type="text" name="phone" class="form-control" placeholder="请输入手机号" />
        </div>
        <p class="text-red text-left">&nbsp;</p>
        <div class="input-group">
            <label class="input-group-addon">
                <span class="glyphicon glyphicon-lock text-primary"></span>
            </label>
            <input type="password" name="passwd" class="form-control" placeholder="请输入密码" />
        </div>
        <p class="text-red text-left">&nbsp;</p>
        <div class="form-group form-inline" style="padding-left:80px;padding-right:80px;">
            {% comment %}
            django的url会自动把href路径中?后面的部分去掉并添加/结尾
            所以/login?***会变成login/
            url————返回一个绝对路径的引用(不包含域名的URL)
            传递的参数需要在url捕获和在views参数里接收
            {% endcomment %}
            <a class="pull-left" href="{% url 'login' 'change_secret' %}" id="secret">忘记密码</a>
            <a class="pull-right" href="{% url 'login' 'new_register' %}" id="register">免费注册</a>
        </div>

        <div class="form-group form-inline" style="padding-left:20px">
            <input type="submit" class="btn btn-success" value="登录" style="width:55%">
        </div>
    </form>
</div>