/*
 **base.html
 */

body {
    /*padding-top: 70px;*/
    /*有顶部固定导航条（navbar-fixed-top）时设置*/
    /*padding-bottom: 70px;*/
    /*有底部固定导航条（navbar-fixed-bottom）时设置*/
    font-family: Microsoft YaHei,'宋体';
    /*
    SimHei
    sans-serif
    SimSun
    Microsoft YaHei
    Microsoft JhengHei
    KaiTi
    NSimSun
    STKaiti*/
    /*font-weight: bold;*/
    /*font-size: large;*/
}

#nav-right-li {
    margin-right: 200px;
}


#nav-right-li a {
    color: #fbfffd;
}


.panel-form {
    line-height: 3;
}


.panel-form label {
    width:90px;
    text-align: right;
}



#returnTop {
    position: fixed;
    bottom: 60px;
    right: 40px;
    cursor: pointer;
    display: none;
    width: 40px;
    height: 40px;
    border: 3px solid;
    font-size: 24px;
    padding-left: 2px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}


#nav-bottom {
    margin: 0;
}


#nav-bottom ul{
    margin-top: 10px;
    margin-bottom: 10px;
}



/*
 **common
 */

.img-width{
    width: 100%;
}


.text-hot {
    color: #fea849;
}


.text-red {
    color: red;
}

.text-sidebar{
    color:#0964F5;
}

.big-font {
    font-size: 20px;
    font-weight: bolder;
}


.middle-font {
    font-size: 16px;
    font-weight: bolder;
}


.bg-grey {
    background: #e0e0e0;
}


.bg-orange {
    background: #efd6a3;
}


.bg-blue {
    background: #96afd4;
}

.bg-lan {
    background: #56d0b8;
}


#sidebar {
    padding: 0;
    border: 0.5px solid #0A34F4;
}

#sidebar li{
    border: 0.5px solid #0A34F4;
}

#sidebar li span{
    font-weight: bold;
}

/*
 **login.html
 */
.vertical-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#login-row form{
    padding-top: 55px;
    padding-bottom: 35px;
}


/*
 **index.html
 */

#img-carousel {
    margin-bottom: 20px;
}