<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    {% include "common/include/head.html" %}
    {% block addHeader %}{% endblock %}
</head>
{% load staticfiles %}

<body class="bg-success">
    {% include "common/include/top.html" %}
    <div class="container vertical-center">
        <div class="row" id="login-row">
            <div class="col-md-7 col-sm-6">
                <img src="{% static 'login/images/login.jpg' %}" class="img-responsive img-circle img-width" alt="login img">
            </div>
            {% block center %}{% endblock %}
        </div>
    </div>
    <div class="navbar navbar-bottom navbar-fixed-bottom" id="nav-bottom">
        <ul class="text-center list-unstyled">
            <li class="">Copyright ©20**-20** *** 版权所有</li>
            <li class="">*ICP备*****号</li>
        </ul>
    </div>
</body>
</html>
<script type="text/javascript" src="{% static 'common/js/base.js' %}"></script>