{% extends "login/base_login.html" %}
{% block center %}
    {% load staticfiles %}

    <div class="panel panel-success col-md-4 col-sm-6 col-xs-12 col-md-offset-1 bg-blue" id="new_register">
        <form role="form" class="panel-body form-horizontal text-center" id="email_register" method="post">
            {% csrf_token %}

            <div class="input-group">
                <label class="input-group-addon">
                    <span class="glyphicon glyphicon-envelope text-primary"></span>
                </label>
                {{ form.email }}
                {{ form.email.error }}
            </div>
            <br/>
            <div class="input-group">
                {{ form.security_code }}
{#                {{ form.security_code.errors }}#}
                <span class="input-group-addon text-primary" style="cursor: pointer" onclick="getEmailCode($(this))">获取验证码</span>
            </div>
            <br/>
            <div class="input-group">
                <label class="input-group-addon">
                    <span class="glyphicon glyphicon-lock text-primary"></span>
                </label>
                {{ form.pwd }}
{#                {{ form.pwd.errors }}#}
            </div>
            <br/>
            <div class="input-group">
                <label class="input-group-addon">
                    <span class="glyphicon glyphicon-lock text-primary"></span>
                </label>
                {{ form.pwd2 }}
{#                {{ form.pwd2.errors }}#}
            </div>
            <br/>

            <div class="form-group form-inline" style="padding-left:20px">
                <input type="submit" class="btn btn-info" value="立即注册" style="width:55%">
            </div>
        </form>
    </div>

    <script type="text/javascript" src="{% static 'login/js/login.js' %}"></script>
{% endblock %}