{% extends "login/base_login.html" %}
{% block center %}
    {% load staticfiles %}

    <div class="panel panel-success col-md-4 col-sm-6 col-xs-12 col-md-offset-1 bg-grey" id="login">
        <form role="form" class="panel-body form-horizontal text-center" id="login_form" method="post">
            {% csrf_token %}

            {{ form.from_id }}
            <div class="input-group">
                <label class="input-group-addon">
                    <span class="glyphicon glyphicon-user text-primary"></span>
                </label>
                {{ form.phone }}{{ form.phone.errors }}
            </div>
            <br/>
            <div class="input-group">
                <label class="input-group-addon">
                    <span class="glyphicon glyphicon-lock text-primary"></span>
                </label>
                {{ form.pwd }}{{ form.pwd.errors }}
            </div>
            <br/>

            <div class="form-group form-inline" style="padding-left:80px;padding-right:80px;">
{#                <a class="pull-left" href="{% url 'login' 'change_secret' %}" id="secret">忘记密码</a>#}
                <a class="pull-right" href="{% url 'login' 'email_register' %}" id="register">免费注册</a>
            </div>

            <div class="form-group form-inline" style="padding-left:20px">
                <input type="submit" class="btn btn-success" value="登录" style="width:55%">
            </div>
        </form>
    </div>
    <script type="text/javascript" src="{% static 'login/js/login.js' %}"></script>
{% endblock %}