<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% include "common/include/head.html" %}
</head>

{% load static from staticfiles %}
<body class="bg-success">

    {% include "common/include/top.html" %}

    <div class="container vertical-center">

        <div class="row" id="login-row">
            <div class="col-md-7 col-sm-6">
                <img src="{% static 'login/images/login.jpg' %}" class="img-responsive img-circle img-width" alt="login img">
            </div>

            {% if form_name == "phone_register"  %}
                {% include 'login/forms/phone_register.html' %}
            {% elif form_name == "email_register" %}
                {% include 'login/forms/email_register.html' %}
            {% elif form_name == "change_secret" %}
                {% include 'login/forms/change_secret.html' %}
            {% else %}
                {% include 'login/forms/login.html' %}
            {% endif %}

        </div>

    </div>

    {% include "common/include/foot.html" %}

</body>
</html>
{% load staticfiles %}
{% load staticfiles %}
<script type="text/javascript" src="{%static 'login/js/login.js' %}"></script>
