<meta name="description" content="">
<meta name="keywords" content="">
{% load static from staticfiles %}
{#    facvicon.ico#}
<link rel="shortcut icon" href="{% static 'common/images/logo.ico' %}" type="image/x-icon" />

<link type="text/css" rel="stylesheet" href="{% static 'common/css/bootstrap.css' %}"/>
<link type="text/css" rel="stylesheet" href="{% static 'common/css/bootstrap-theme.css' %}"/>
<link type="text/css" rel="stylesheet" href="{% static 'common/css/tipso.css' %}"/>

<script type="text/javascript" src="{% static 'common/js/jquery.min.js' %}"></script>
{#    bootstrap，jquery插件#}
<script type="text/javascript" src="{% static 'common/js/bootstrap.min.js' %}"></script>
{#    validate，jquery表单验证插件，#}
<script type="text/javascript" src="{% static 'common/js/jquery.validate.min.js' %}"></script>
{#    validate中文提示包#}
<script type="text/javascript" src="{% static 'common/js/messages_zh.min.js' %}"></script>
<script type="text/javascript" src="{% static 'common/js/validate.add.js' %}"></script>
{#    Tipso，jQuery提示框插件#}
<script type="text/javascript" src="{% static 'common/js/tipso.js' %}"></script>
<link type="text/css" rel="stylesheet" href="{% static 'common/css/navbar.css' %}"/>
<link type="text/css" rel="stylesheet" href="{% static 'common/css/base.css' %}"/>