{% extends "common/base.html" %}
{% load staticfiles %}
{% block addHeader %}
    <title>权限管理</title>
{#    ztree#}
{#    all————core 核心包、excheck 扩展、exedit 扩展#}
{#    另外exhide 扩展#}
    <script type="text/javascript" src="{% static 'common/js/jquery.ztree.all.js' %}"></script>
{% endblock %}

{% block center %}
    <div class="container-fluid">
        <div class="col-lg-12 col-md-12" style="font-size: ">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4>权限列表</h4>
                </div>
                <form role="form" class="panel-body panel-form" id="menu_form" method="get" action="">
                    <div class="zTreeBackground">
                        <ul id="tree" class="ztree"></ul>
                    </div>
                </form>
            </div>
        </div>
     </div>
    <script>
        {% comment %}
        /**
         * replace(/&quot;/g,'"')————把&quot;转义回来
         * eval()————计算某个字符串，并执行其中的的 JavaScript 代码
         */
        var menu_list = eval('{{ menu_list }}'.replace(/&quot;/g,'"'));
        /**
         * safe过滤器————为单独的变量关闭自动转意
         */
        var menu_list = eval({{ menu_list | safe }});
        {% endcomment %}
        var menu_list = eval({{ menu_list | safe }});
    </script>
    <!--
    ?0002————清缓存（每次变动js，修改?后的值）
    -->
    <script type="text/javascript" src="{% static 'menu/js/menuTree.js' %}?0002"></script>
{% endblock %}