{% extends "common/base.html" %}
{% load staticfiles %}
{% block addHeader %}
    <title>权限管理</title>
{#    ztree#}
{#    all————core 核心包、excheck 扩展、exedit 扩展#}
{#    另外exhide 扩展#}
    <script type="text/javascript" src="{% static 'common/js/jquery.ztree.all.js' %}"></script>
{% endblock %}

{% block center %}
    <div class="container-fluid">
        <div class="col-lg-12 col-md-12" style="font-size: ">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4>权限列表</h4>
                </div>
                <form role="form" class="panel-body panel-form" id="menu_form" method="get" action="">
                    <div class="zTreeBackground">
                        <ul id="tree" class="ztree"></ul>
                    </div>
                </form>
            </div>
        </div>
     </div>
{#    ?0002————清缓存（每次变动js，修改?后的值）    #}
    <script type="text/javascript" src="{% static 'menu/js/menuTree.js' %}?0002"></script>
{% endblock %}