<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    {% include "common/include/head.html" %}
    {% block addHeader %}{% endblock %}
</head>
{% load staticfiles %}

<body class="bg-success">

    {% include "common/include/top.html" %}

    {% block center %}{% endblock %}

{#            {% include "login/include/sidebar.html" %}#}

    {% include "common/include/foot.html" %}

</body>
</html>
<script type="text/javascript" src="{% static 'common/js/base.js' %}"></script>