<div class="panel-default text-center">

    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li>
                <a href="{{ request.path }}?&page=1">首页</a>
            </li>
            <li>
                <a href="{{ request.path }}?&page={{ page_obj.previous_page_number }}">上一页</a>
            </li>
        {% else %}
            <li class="disabled">
                <a>首页</a>
            </li>
            <li class="disabled">
                <a>上一页</a>
            </li>
        {% endif %}


        {% for i in page_obj.paginator.page_range %}
            <li {% if page_obj.number == i %}class="active"{% endif %}>
                <a href="{{ request.path }}?page={{ i }}">{{ i }}</a>
            </li>
        {% endfor %}


        {% if page_obj.has_next %}
            <li>
                <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">下一页</a>
            </li>
            <li>
                <a href="{{ request.path }}?&page={{ page_obj.paginator.num_pages }}">末页</a>
            </li>
        {% else %}
            <li class="disabled">
                <a>下一页</a>
            </li>
            <li class="disabled">
                <a>末页</a>
            </li>
        {% endif %}
    </ul>
</div>


<div id="returnTop" class="text-center text-primary">
    <span class="glyphicon glyphicon-chevron-up"></span>
</div>


<div class="navbar navbar-bottom navbar-fixed-bottom" id="nav-bottom">
    <ul class="text-center list-unstyled">
        <li class="">Copyright ©20**-20** *** 版权所有</li>
        <li class="">*ICP备*****号</li>
    </ul>
</div>