<div class="panel panel-success col-md-4 col-sm-6 col-xs-12 col-md-offset-1 bg-orange" id="change_secret">
    <form role="form" class="panel-body form-horizontal text-center">
        <div class="input-group">
            <label class="input-group-addon">
                <span class="glyphicon glyphicon-user text-primary"></span>
            </label>
            <input type="text" class="form-control" placeholder="请输入用户名"/>
        </div>
        <p class="text-red text-left">&nbsp;</p>
        <div class="input-group">
            <label class="input-group-addon">
                <span class="glyphicon glyphicon-phone text-primary"></span>
            </label>
            <input type="text" class="form-control" placeholder="请输入预留手机号"/>
        </div>
        <p class="text-red text-left">&nbsp;</p>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="请输入短信验证码"/>
            <span class="input-group-addon text-primary">获取验证码</span>
        </div>
        <p class="text-red text-left">&nbsp;</p>
        <div class="form-group form-inline">
            <input type="button" class="btn btn-warning" value="立即验证" style="width:55%">
        </div>
    </form>
</div>
