<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
{% include "common/include/head.html" %}
{% block addHeader %}{% endblock %}
</head>

<body class="bg-success">

    {% include "common/include/top.html" %}
    <br/>
    <br/>
    <br/>
{#    <div class="container-fluid">#}
    <div class="container">
        <div class="row">
{#            {% include "login/include/sidebar.html" %}#}
        {% comment %}
        {% block ... %}...{% endblock %}————定义模板继承
        子模板可以重载所有{% block ... %} 标签下的内容
        一般来说，基础模板中的 {% block ... %} 标签越多越好
        子模板不必定义父模板中所有的代码块，可以用合理的缺省值对一些代码块进行填充，然后只对子模板所需的代码块进行（重）定义

        {% extends '***.html' %}————“继承”另一个模版————必须放在子模板顶部

        {% include '***.html' %}————“包含”其它模板的内容，减少重复————参数也可以是一个变量

        {{ block.super}}————不仅覆盖父模板，还可以在父模板基础上追加内容。在上级代码块基础上添加内容，而不是全部重载
        {% endcomment %}
            {% block center %}{% endblock %}
        </div>
    </div>

    {% include "common/include/foot.html" %}

</body>
</html>
{% comment %}
    Django模板语言代码注释————{#  #}————单行注释
    {% load staticfiles %}————模板库加载static标签，需要在每个html里写一次
    "{% static '***/***.css' %}"————生成静态文件的绝对URL————不能用在静态文件（比如样式表）中
{% endcomment %}
{% load staticfiles %}
<script type="text/javascript" src="{% static 'common/js/base.js' %}"></script>